{% extends 'base.html' %}

{% block content %}

<h1>Prep&Seq™ U-panel</h1>
<p>Мы разработали собственные алгоритмы подбора праймеров для эффективного покрытия регионов интереса минимальным числом ампликонов.</p>
<p>Сочетая панели праймеров с модулями Prep&Seq™, вы получаете готовый протокол для таргетного секвенирования.</p>
<p>Содержит панель праймеров и доступ к программному обеспечению Seq&Go Software для анализа данных.</p>

<img src="https://optim.tildacdn.com/tild6161-6162-4165-b062-316165613432/-/format/webp/12.png" alt="Фото" width="1200" height="700">

<h1>Часто задаваемые вопросы FAQ</h1>

<h3>Какая программа используется для подбора праймеров?</h3>

<p>Мы используем собственную разработку – программное обеспечение TOR. Сейчас оно доступно только для внутреннего использования, но мы активно работаем над пользовательским интерфейсом.</p>

<h3>Какие данные нужны для дизайна?</h3>

<p>Для запуска дизайна нам нужна информация по желаемым характеристикам панели и целевым регионам в виде BED файла, списка транскриптов или генов. Чтобы отправить заявку, пожалуйста, заполните форму.</p>

{% endblock %}